@mixin before_circle {
    &:before {
        content: '';
        margin: 0 auto;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%) translateY(-18%);
        width: 36px;
        height: 36px;
        background-color: $elements_color;
        z-index: -1;
    }
}

@mixin before_round {
    &:before { 
        content: '';
        position: absolute;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background-color: $elements_color;
        z-index: -1;
    }
}