@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .sidepanel {
        display: none;
    }
    .about { 
        &__wrapper {
            grid-template-columns: 400px 510px;
            column-gap: 40px;
        }
        &__cross {
            left: 429px;
        }
        &__skills {
            grid-template: repeat(2,minmax(115px,auto)) / repeat(2,200px);
            column-gap: 40px;
            row-gap: 20px;
            &-item {
                grid-template-columns: 24px 219px;
                column-gap: 10px;
            }
        }
    }
    .resume {
        &__wrapper {
            column-gap: 50px;
        }
    }
    .skills {
        &__wrapper {
            grid-template: repeat(2, minmax(270px, auto)) / repeat(auto-fill, 270px);
            grid-auto-rows: minmax(270px, auto);
            justify-content: center;
        }
        &__rating {
            grid-template: repeat(2, minmax(70px, auto)) / repeat(auto-fill, 350px);
        }
    }
    .portfolio {
        &__wrapper {
            grid-template: repeat(2, 280px) / repeat(3, 280px);
            justify-content: center;
            .vertical {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
    .price {
        padding-bottom: 50px;
        &__wrapper {
            place-content: center space-around;
        }
    }
    .contacts {
        &__cross {
            top: 394px;
            left: 180px;
        }
        &__wrapper {
            padding: 0;
            grid-template-columns: 585px;
            justify-content: center; 
            column-gap: 40px;
        }
        &__avatar {
            justify-self: center;
            img {
                width: 400px;
                height: 400px;
                border-radius: 100%;
            }
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .about {
        &__subtitle {
            font-size: 24px;
            line-height: 30px;
        }
        .divider {
            margin-top: 20px;
        }
        &__wrapper {
            grid-template-columns: 320px 380px;
            row-gap: 5px;
        }
        &__cross {
            left: 349px;
        }
        &__skills {
            grid-template-columns: 360px;
            grid-auto-rows: minmax(115px, auto);
            row-gap: 10px;
            &-item {
                grid-template-columns: 24px 336px;
                column-gap: 20px;
            }
        }
    }
    .portfolio {
        padding: 50px 0 50px 0;
        &__wrapper {
            margin-top: 40px;
            grid-template: repeat(2, 280px) / repeat(auto-fill, 280px);
            .horizontal {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
    .resume {
        padding-left: 5px;
        padding-top: 50px;
        padding-bottom: 50px;
        &__wrapper {
            grid-template-columns: 419px; 
            justify-content: center; 
        }
        .divider {
            margin-top: 20px;
        }
    }
    .title {
        &__section-subtitle {
            margin-top: 30px;
            font-size: 24px;
            line-height: 30px;
        }
    }
    .skills {
        &__wrapper {
            margin-top: 20px;
        }
        &__rating {
            margin-top: 50px;
        }
    }
    .price {
        &__wrapper {
            grid-template: repeat(3, minmax(45px, auto)) / 385px;  
        }
    }
    .price {
        padding-bottom: 50px;
        &__wrapper {
            margin-top: 20px;
        }
    }
    .contacts {
        &__cross {
            left: 59px;
        }
        &__subtitle {
            font-size: 24px;
            line-height: 30px;
        }
        .divider {
            margin-top: 20px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .promo {
        min-height: 70vh;
        &__subtitle {
            font-size: 18px;
        }
        &__title {
            font-size: 30px;
            line-height: 36px;
        }
    }   
    .about {
        padding-top: 40px;
        &__cross {
            left: -10px;
            top: 325px;
        }
        &__wrapper {
            grid-template: 320px minmax(250px, auto) auto / 1fr;
        }
        &__avatar {
            grid-row: unset;
            justify-self: center; 
            img {
                width: 340px;
                height: 340px; 
                border-radius: 100%;
            }
        }
        &__skills {
            grid-template-columns: repeat(2, 240px);
            &-item {
                grid-template-columns: 24px 216px;
            }
        }
    }
    .contacts {
        &__cross {
            left: -9px;
        }
        &__wrapper {
            grid-template-columns: 540px;
        }
        &__form {
            grid-template: 45px 45px 190px / 1fr;
        }
        &__triggers {
            grid-column: unset;
        }
        &__textarea {
            grid-column: unset;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .hamburger {
        top: 24px;
        right: 20px;
    }
    .promo {
        &__subtitle {
            font-size: 15px;
        }
        &__title {
            font-size: 26px;
        }
        &__btns {
            margin-top: 30px;
        }
    }
    .about {
        &__cross {
            display: none;
        }
        &__wrapper {
            grid-template-columns: 420px;
            justify-content: center;
        }
        &__skills {
            grid-template-columns: 240px;
            justify-content: center;
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: 299px;
            justify-content: unset; 
        }
        .title { 
            &__fz14 {
                font-size: 13px;
            }
        }
    }
    .price {
        &__wrapper {
            grid-template: repeat(3, minmax(45px, auto)) / 283px;
        }
        &__item {
            &-title {
                font-size: 13px;
            }
            &-counter {
                font-size: 13px;
            }
            &:before {
                left: -18px;
            }
        }
    }
    .contacts {
        &__cross {
            display: none;
        }
        &__avatar {
            display: none;
        }
        &__wrapper {
            grid-template-columns: 415px;
        }
        &__btn {
            font-size: 11px;
        }
    }
    
}
@media (max-width: 430px) {
    .menu {
        &__block {
            width: 100vw;
            padding-left: 20px;
        }
        &__link {
            font-size: 20px;
        }
    }
    .promo {
        .hamburger {
            height: 16px;
        }
    }
    .about {
        &__cross {
            left: -8px;
        }
        &__wrapper {
            grid-template-columns: 303px;
        }
        &__skills {
            grid-template-columns: 1fr;
            &-item {
                column-gap: 10px;
            }
        }
        &__avatar {
            img {
                width: 300px;
                height: 300px;
            }
        }
    }
    .resume {
        padding-top: 50px;
        padding-bottom: 50px;
        .divider {
            margin-top: 20px;
        }
        &__wrapper {
            padding: 0;
        }
        &__column {
            margin-top: 40px;
        }
        &__item {
            &-head {
                padding: 40px 0 0 95px;
            }
        }
    }
    .skills {
        &__rating {
            grid-template: repeat(2,minmax(70px,auto))/repeat(auto-fill,300px);
            &-item {
                grid-template: minmax(21px,36px) 14px / 239px 35px;
                place-content: space-between space-between;
            }
            &-line {
                width: 300px;
            }
        }
    }
    .contacts {
        &__cross {
            display: none;
        }
        &__wrapper {
            grid-template-columns: 315px;
        }
        &__triggers {
            grid-template-columns: auto;
        }
    }
    .title {
        &__section-subtitle {
            margin-top: 30px;
            line-height: 30px;
        }
    }
}

