.popup {
	display: none;
	padding: 100px 50px;
	position: fixed;
	top: 30%;
	left: 50%;
	transform: translateX(-50%);
	width: 320px;
	height: 279px;
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(200, 210, 209, 0.75);
	border-radius: 12px;
	border: 1px solid rgba(209, 213, 219, 0.3);
	&__cross {
		position: absolute;
		top: 15px; 
		right: 15px;
		cursor: pointer;
		svg path {
			fill: $title_color;
			transition: 0.3s ease-in-out; 
			&:hover {
				fill: white;
			}
		}
	}
	p {
		font-family: 'Source Code Pro', monospace;
        font-weight: 400;
		font-size: 16px;
		text-transform: uppercase;
	}
}