.promo {
	min-height: 100vh;
	position: relative;
	padding-top: 170px;
	&__title {
		margin-top: 10px;
	}
	&__subtitle {
		position: relative;
		z-index: 2;
	}
	&__btns {
		margin-top: 22px;
		display: flex; 
		align-items: center;
		gap: 35px;
	}
	&__link {
		color: $title_color;
		text-decoration: none;
		transition: 0.3s ease-in-out;
		&:nth-child(2) {
			padding: 12px 22px;
		}
		&:hover {
			background-color: #F2E861;
		}
		&:active {
			background-color: #8B7900;
		}
	}
	
}
