.resume {
    padding-top: 125px;
    padding-bottom: 130px;
    &__wrapper {
        padding: 60px 65px 0 65px; 
        display: grid; 
        grid-template-columns: repeat(2, 419px); 
        column-gap: 135px;
    }
    &__column {
        &-title {
        color: #8205F2;
            padding-left: 35px;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                background-color: $elements_color;
                border-radius: 100%;
                left: -7px;
                top: 50%;
                transform: translateY(-50%);

            }
        }
        ul {
            list-style-type: none;
            padding: 0;
            li {
                position: relative;
                &:after {
                    content: '';
                    width: 1px;
                    height: calc(100% + 16px);
                    position: absolute;
                    top: -13px;
                    left: 0;
                    background-color: $title_color;

                }
            }
        }
    }
    &__item {
        position: relative;
        &:before {
            content: '';
            width: 50px;
            height: 1px;
            position: absolute;
            top: 60px;
            background-color: $title_color;
            z-index: 1;
        } 
        &-head {
            position: relative;
            padding: 40px 0 0 100px;
            h4 {
                margin-bottom: 0;
            }
        }
        &-body {
            padding-left: 43px;
            margin-top: 15px;
        }
        &-icon {
            position: absolute;
            top: 43px;
            left: 50px;
            @include before_round;
            img {
                position: absolute;
                left: 17px;
                top: 14px
            }

        }
        &-location {
            margin-top: 4px;
            font-family: 'Source Code Pro', monospace;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
        }
        &-body {
            font-family: 'Source Code Pro', monospace;
            font-weight: 500;
            font-size: 16px;
            line-height: 15.6px;    
        } 
    }
}